@model List<ResultBrandDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Marka Tablosu</h4>
                <p>Marka ile ilgili işlemlerinizi bu tablodan yapabilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Marka Adı</th>
                                <th>Marka</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Name</td>
                                    <td><img src="@item.ImageUrl" style="height:20px" alt="@item.Name"></td>
                                    <td><a href="/Admin/Brand/DeleteBrand/@item.Id" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Admin/Brand/UpdateBrand/@item.Id" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Admin/Brand/CreateBrand" class="btn btn-primary">Yeni Marka Girişi</a>
                </div>
            </div>
        </div>
    </div>
</section>


