@model UpdateCategoryDTO

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Güncelleme</h4>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post" enctype="multipart/form-data">
                        <label>Kategori Id</label>
                        <input type="text" readonly class="form-control" asp-for="Id" />
                        <br />
                        <input type="hidden" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Kategori Adı</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <br />
                        <label>Kategori Görseli</label>
                        <div style="display: flex; align-items: center;">
                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <img src="@Model.ImageUrl" alt="Kategori Görseli" style="width: 100px; height: 100px; object-fit: cover; margin-right: 10px;" />
                            }
                            <input type="file" class="form-control" asp-for="File" />
                        </div>
                        <button class="btn btn-primary">Kategoriyi Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

