@model CreateProductDTO

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Ekleme</h4>
                <p>Ürün ile ilgili ekleme işlemlerinizi bu panelden yapabilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post" enctype="multipart/form-data">
                        <label>Ürün Adı</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <br />
                        <label>Ürün Fiyatı</label>
                        <input type="text" class="form-control" asp-for="Price" />
                        <br />
                        <label>Ürün Görseli</label>
                        <input type="file" class="form-control" asp-for="File" />
                        <br />
                        <label>Ürün Kategorisi</label>
                        <select class="form-control" style="min-height:50px !important;" asp-for="CategoryId" asp-items="ViewBag.CategoryValues"></select>
                        <br />
                        <label>Ürün Açıklaması</label>
                        <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                        <br />
                        <button class="btn btn-primary">Ürünü Ekle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

