
<div class="col-lg-4">
    @if(ViewData["codeRate"] == null)
    {
        <form class="mb-30" method="get" action="/ShoppingCart/Index">
            <div class="input-group">
                <input type="text" class="form-control border-0 p-4" name="code" placeholder="Coupon Code">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Apply Coupon</button>
                </div>
            </div>
        </form>
    }
    else
    {
        <form class="mb-30" method="get" action="/ShoppingCart/Index">
            <div class="input-group">
                <input type="text" class="form-control border-0 p-4" name="code" value="@ViewBag.codeName" placeholder="Coupon Code" disabled>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-danger">Cancel Coupon</button>
                </div>
            </div>
        </form>
    }

    @await Component.InvokeAsync("_TotalAmountShoppingCartComponentPartial")
</div>

