@model UpdateSpecialOfferDTO

@{
    ViewData["Title"] = "UpdateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Özel Teklif Güncelleme</h4>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Özel Teklif Id</label>
                        <input type="text" readonly class="form-control" asp-for="Id" />
                        <br />
                        <label>Özel Teklif Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Özel Teklif Alt Başlığı</label>
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />
                        <label>Özel Teklif Görseli</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Özel Teklifi Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

