@model UpdateProductImageDTO

@{
    ViewData["Title"] = "UpdateProductImage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Görsel Güncelleme</h4>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Görsel Id</label>
                        <input type="text" readonly class="form-control" asp-for="Id" />
                        <br />
                        <label>Ürün Id</label>
                        <input type="text" readonly class="form-control" asp-for="ProductId" />
                        <br />
                        <label>Görsel Görseli</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Görseli Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

