@model UpdateCommentDTO

@{
    ViewData["Title"] = "UpdateComment";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yorum Güncelleme</h4>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" class="form-control" asp-for="Id" />
                        <br />
                        <input type="hidden" class="form-control" asp-for="ProductId" />
                        <br />
                        <label>Yorum Yapan</label>
                        <input type="text" class="form-control" asp-for="NameSurname" />
                        <br />
                        <label>Yorum Detayı</label>
                        <input type="text" class="form-control" asp-for="CommentDetail" />
                        <br />
                        <label>Yorum Puanı</label>
                        <input type="number" class="form-control" asp-for="Rating" />
                        <br /> 
                        <label>Yorum Tarihi</label>
                        <input type="date" class="form-control" asp-for="CreatedDate" />
                        <br />
                        <label>Yorum Satüsü</label>
                        <input type="text" class="form-control" asp-for="Status" />
                        <br />
                        <label>Yorum Görseli</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Yorumu Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
