
<section class="content-header">
    <h1> @ViewBag.h0 </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @ViewBag.h1 </a></li>
        <li class="active"><i class="fa fa-envelope-o"></i> @ViewBag.h2 </li>
        <li class="active"><i class="fa fa-bars"></i> @ViewBag.h3 </li>
    </ol>
</section>

