@model CreateOfferDiscountDTO

@{
    ViewData["Title"] = "CreateOfferDiscount";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>İndirim Teklif Ekleme</h4>
                <p>İndirim teklif ile ilgili ekleme işlemlerinizi bu panelden yapabilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>İndirim Teklif Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>İndirim Teklif Alt Başlığı</label>
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />
                        <label>İndirim Teklif Buton Başlığı</label>
                        <input type="text" class="form-control" asp-for="ButtonTitle" />
                        <br />
                        <label>İndirim Teklif Görseli</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">İndirim Teklifi Ekle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


